.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.choice-tile {
  height: 100px;
  width: 100px;
  background: #eee;
  color: #333;
  font-size: 1.5em;
  margin-right: 3px;
  margin-bottom: 3px;
  display: inline-block;
  line-height: 100px;
  vertical-align: middle;
  text-align: center;
}
.tic-tac-toe-container {
  width: 350px;
}

.game-status-bar {
  text-align: center;
  border-bottom: 2px red solid;
  margin-bottom: 10px;;  
}